.result {
	display: inline-block;
	padding: 10px;
}

.resultsList {
	padding-top: 20px
}

.episodeInfo {
	padding-top: 20px;
	display: inline-block
}

.epDescription {
	text-align: left
}

.episodeCard {
	width: 80vw;
}
